.App {
  margin-left: 20px;
  margin-right: 20px;
}

.how-did-it-get-this-way h2 {
  text-align: center;
}

.how-did-it-get-this-way .fact {
  margin-top: 0;
  font-size: 20px;
  width: 500px;
}

.how-did-it-get-this-way .fact.big {
  font-size: 28px;
}

.how-did-it-get-this-way .figure {
  width: 600px;
}

.story {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.story-part {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.story-part .mapboxgl-map {
  height: 250px;
  width: 550px;
}

.graph {
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 12px;
}