.axisVoters line, .axisVoters path, .lineVoters {
    stroke: steelblue;
}

.axisNbrReps line, .axisNbrReps path, .lineNbrReps {
    stroke: red;
}

.axisVoters text, .axisVotersLabel {
    fill: steelblue;
}

.axisNbrReps text, .axisNbrRepsLabel {
    fill: red;
}

.lineMissing {
    stroke: #ccc;
}